<div class="container my-2">
<h1>New conservation</h1>

<%= render "form", conservation: @conservation %>

<br>

<div>
  <%= link_to "Back to conservations", conservations_path , class:"btn btn-dark"%>
</div>
</div>
